.btn {
  text-align: right;
}

.btn-login {
  text-align: center;
  font-size: 1.2em;
}

.btn-hand-cursor button {
  cursor: pointer !important;
}

article .btn-active, #pop-reset .btn-warning, #pop-disconnect .btn-warning {
  text-align: left;
}

#pop-stat .btn-active {
  text-align: center;
}

.btn-login input {
  width: 6em;
  height: 2em;
}

.btn button, .btn input, .btn a {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.2em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color:#F2F2F2;
  color: black;
  border: 2px solid #f44336;
  cursor: not-allowed;
}

.btn button:hover, .btn input:hover, .btn a:hover {
  background-color: #f44336;
  color: white;
}

.btn-active button {
  cursor: pointer;
  border: 2px solid #4CAF50;
}

.btn-active button:hover {
  background-color: #4CAF50;
}

.btn-info button, .btn-info a {
  cursor: pointer;
  border: 2px solid #2E2E2E;
}

.btn-info button:hover, .btn-info a:hover {
  background-color: #2E2E2E;
}

.btn-login input {
  cursor: pointer;
  border: 2px solid #2E2E2E;
}

.btn-login input:hover {
  background-color: #2E2E2E;
}

.btn-warning button {
  cursor: pointer;
  border: 2px solid #FF8000;
}

.btn-warning button:hover {
  background-color: #FF8000;
}

/* Switch Amélioration / Possédé */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.btn-create input {
  width: 8em;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2E2E2E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

#check_upgrades:checked + .slider {
  background-color: #2E2E2E;
}

#check_upgrades:focus + .slider {
  box-shadow: 0 0 1px #2E2E2E;
}

#check_upgrades:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#switch_upgrades {
  float: right;
}



/* Tooltip */

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 8.5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    right: 35px;
    font-size: 0.8em;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 15px;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}




/*  Menu */

.tabs button {
  width: 35px;
  height: 35px;
  padding: 0;
  padding-left: 5px;
  padding-top: 2px;
  vertical-align: middle;
}

.tabs {
  margin-left: 10px;
}

.btn-home {
  font-size: 0.6em !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-child {
  text-align: left;
  display: none;
}

.dropdown-child button, .dropdown-child a {
  font-size: 0.5em !important;
  padding: 5px;
  display: block;
  width: 8em;
}

.dropdown:hover .dropdown-child {
  position: fixed;
  display: block;
}

.dropdown:hover .btn-home {
  background-color: #2E2E2E;
  color: #FFF;
}


/* Testeur popup */
.popup {
  font-family: 'Patrick Hand SC', cursive;
  text-align: center;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
}

#pop-reset table, #pop-disconnect table {
  background-color: #F2F2F2;
  width: 18em;
  height: 7em;
  position: relative;
  margin: 5em auto;
  padding: 0 1em;
}

#pop-stat table {
  background-color: #F2F2F2;
  width: 30em;
  height: 12em;
  position: relative;
  margin: 5em auto;
  padding: 0 1em;
}

.btn-group-pop {
  height: 5em;
  margin-top: 2em;
}
