/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

@font-face {
    font-family: Swirl;
    src: url(../font/Frost.otf);
}

/* Elements principaux */

html, body {
  height: 99%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #F0F0D8;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  text-align: center;
}

header {
  font-family: Swirl;
  font-size: 2em;
  color: #FFFFFF;
  margin: 0.5em 0 2em 0;
}

p, h1 {
  font-family: 'Patrick Hand SC', cursive;
}

.txt-login {
	width: 200px;
	height: 35px;
	font-size: 22px;
	text-align: center;
	font-family: 'Patrick Hand SC', cursive;
	margin-bottom: 25px;
}

.back-white {
  padding: 10px 10px 5px 10px;
  margin: 0 3em 0 3em;
  background-color: rgba(250, 250, 250, 0.7);
  border-style: solid;
  border-width: 1px;
}

.txt-red {
  color: #cc0000;
  font-size: 1.2em;
}

a {
  color: #2E2EFE;
  text-decoration: underline;
  cursor: pointer;

  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}
