#obj-game {
  width: 50%;
}

.block_article {
  width: 12em;
}

#obj-game {
  width: 62%;
}

@media screen and (max-width: 1300px) and (min-width: 900px) {
  .block_article {
    width: 10.5em;
  }

  #obj-game {
    width: 50%;
  }
}

@media screen and (max-width: 899px) and (min-width: 550px)  {
  #obj-game {
    width: 60%;
  }

  .block_article {
    position: absolute;
    margin-top: 20em;
    margin-left: 14em;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 549px) {
  header {
    padding-left: 1em;
  }

  #obj-game {
    width: 80%;
  }

  .block_aside {
    float: none;
    width: 85%;
    max-width: 15em;
    height: auto;
    margin: 0 auto 20px auto;
  }

  .block_article {
    float: none;
    width: 80%;
    height: auto;
    margin: 0 auto 20px auto;
  }
}
