/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

@font-face {
    font-family: Swirl;
    src: url(../font/Frost.otf);
}

/* Elements principaux */

html, body {
  height: 99%;
  width: 100%;
  margin: 0;

  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: #F0F0D8;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

header {
  font-family: Swirl;
  font-size: 2em;
  color: #FFFFFF;
}

header img {
  vertical-align: text-top;
}

header table {
  width: 99%;
  text-align: center;
  margin: 10px auto;
  border: none;
}

.hdr-text {
  width: 33%;
}

#hdr-home {
  text-align: left;
}

#hdr-balance {
  text-align: right;
}

p {
  margin: 0.5em 0 0.5em 0;
}

aside, article, footer, #label_balance {
  font-family: 'Patrick Hand SC', cursive;
}

footer {
  clear: both;
}

.center {
  text-align: center;
}

.block_aside {
  float: left;
  width: 15%;
  height: 80%;
  min-width: 10em;
  margin: 0 20px 20px 20px;
}

.block_article {
  overflow-x: hidden;
  overflow-y: auto;
  float: right;
  vertical-align: top;
  margin: 0 20px 20px 20px;
  height: 80%;
  width: 21em;
}

.block_section {
  display: block;
  text-align: center;
}

footer {
  margin: 5px;
}

table {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin: 0px 5px 5px 0px;
}

/* Titre */

.money {
  float: right;
  margin-right: 1em;
}

/* Classes */

.tmp {
  border-style: solid;
  border-width: 1px;
  margin: 1px;
}

.show_border {
  border-style: solid;
  border-width: 1px;
}

.producers {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 71%;
}

.producers, .updates, footer {
  padding: 10px 10px 5px 10px;
  background-color: rgba(250, 250, 250, 0.7);
}

.producers table, .updates table {
  background-color: #F1F1F1;
}

.updates table {
  display: inline-table;
}

/* Barre de progression + texte */

.progress {
 border: 1px solid #2E2EFE;
 position: relative;
 background-color: #E0E6F8;
}

.producer-production {
 position: absolute;
 width: 100%;
 text-align: center;
}

.progress-bar {
 height: 20px;
 background-color: #8181F7;
 width: 100%;
}

#my_pump {
  background-color: rgba(250, 250, 250, 0.7);
  margin-bottom: 1em;
}


/*
#my_pump .buy {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.5em;
  width: 80%;
  margin-top: 10px;
  margin-left: 0;
}

#my_pump .buy:hover {
  background-color: blue;
}
*/

/* Boutons */

#my_pump .my_click {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.5em;
  width: 80%;
  height: 2.5em;
  margin-top: 10px;
  margin-left: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:#F2F2F2;
  color: black;
  border: 2px solid #4CAF50;
}

#my_pump .my_click:hover {
  background-color: #4CAF50;
  color: white;
}

h3 {
  margin-top: 0;
}


/* TEST */

::-moz-selection { /*@bugfix mozilla*/
  text-decoration: none;
}
::selection { /* effet souris  */
  text-decoration: none;
}

/* NOUVEAU */

.upgrade-title {
  text-align: center;
}

.tbl-lock {
  background-color: #BDBDBD !important;
}

#check_upgrades_available table {
  cursor: pointer;
}

#check_upgrades_available .tbl-lock {
  cursor: default;
}

@-webkit-keyframes fadeout {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

@keyframes fadeout {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
		transform: translate(0px, -1em);
	}
}

.fadeOut {
	opacity:0;
	-moz-animation : fadeout 0.8s ease-out;
	-webkit-animation: fadeout 0.8s ease-out;
	animation : fadeout 0.8s ease-out;
}

.click {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 1.3em;
  position: absolute;
	pointer-events: none;
}

.txt-green {
  color: #088A08;
}

.txt-neutral {
  color: #848484;
}

.txt-red {
  color: #B40404;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

*:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* Menu */
#btn-stat > img, #btn-sound > img, #btn-reset > img, #btn-disconnect > img {
  margin-top: 3px;
  margin-right: 15px;
}
